<div class="container">
    <h1 class="text-center">About</h1>
    <br>
    <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni obcaecati qui quibusdam, totam doloribus nulla enim quis dolorem impedit facere, repudiandae laboriosam corporis recusandae necessitatibus eum similique nobis voluptate! Fugiat?</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit illum consectetur vitae qui aperiam ducimus, explicabo in animi enim soluta rem maxime nostrum. Totam mollitia optio dolorem magnam accusamus alias. Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse recusandae veniam quo distinctio! Saepe aliquid reiciendis neque dolor, enim, repellat provident accusantium beatae fugiat doloribus illo quia eos. Voluptatibus, architecto.</p>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, impedit nihil? Possimus aut atque similique sequi excepturi ad? Itaque quos asperiores officiis odio quaerat! At exercitationem placeat in omnis blanditiis.</p>
</div>
